<html>
	<head>
		<link rel="stylesheet" type="text/css" href="styles.css"></link>
		<link rel="shortcut icon" type="image/jpg" href="images/favicon.ico"/>
		<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
		<script src="https://kit.fontawesome.com/21c177d3bf.js" crossorigin="anonymous"></script>
	</head>
	<body>
		<div id="app">
			<div id="banner">
				<p>{{ titleMessage() }}</p>
			</div>
			
			<div id="bodyContent">
				<my-comp style="display: none;">
				</my-comp>
				<div id="staff">
					<div id="trebleClef">
						<img class="clef" src="images/TrebleClef.png">
						<div class="line"></div>
						<div class="line"></div>
						<div class="line"></div>
						<div class="line"></div>
						<div class="line"></div>
					</div>
					<div id="bassClef">
						<img class="clef" src="images/BassClef.png">
						<div class="line"></div>
						<div class="line"></div>
						<div class="line"></div>
						<div class="line"></div>
						<div class="line"></div>
					</div>
					<div id="staffScale">
					</div>
				</div>
				<div class="instrumentWrapper">
					<div class="instrumentBackground"></div>
					<div class="instrumentHeader">
						<div class="instrumentScale">
							<select id="letter">
								<option v-for="letter in letterList">
									{{ letter }}
								</option>
							</select>
							<select id="scaleType">
								<option v-for="scaleType in scaleList" v-bind:value="scaleType">
									{{ scaleType.replace("_", " ") }}
								</option>
							</select>
							<select id="keySignature">
								<option v-for="keySignature in keySignatureList">
									{{ keySignature }}
								</option>
							</select>
						</div>
						<div class="settings">
							<i class="fas fa-bars"></i>
							<div class="settingsModal" style="display: none;">
								<div class="modalBody">
									<div class="form-group">
										<p>Hide Notes:</p>
									
										<label for="hideNone">
											<input type="radio" id="hideNone" name="hideOptions" value="none">
											None
										</label>
										<br>
										<label for="hideAll">
											<input type="radio" id="hideAll" name="hideOptions" value="all">
											All
										</label>
										<br>
										<label for="hideOutScale">
											<input type="radio" id="hideOutScale" name="hideOptions" value="outScale">
											Not in scale
										</label>
									</div>
								</div>
								<div class="modalClose">
									<i class="far fa-times-circle"></i>
								</div>
							</div>
						</div>
					</div>
					<div id="instrument1"></div>
				</div>
				<div id="legend">
				</div>
			</div>

		</div>
		<script type="text/javascript" src="scales.js"></script>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
				integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
				crossorigin="anonymous">
		</script>
		<script type="text/javascript" src="app.js"></script>
	</body>
</html>
