<html>
	<head>
		<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
	</head>
	<body>
		<div id="app">
			<h2> Message: {{ titleMessage() }}</h2>
			
			<my-comp style="display: none;">
			</my-comp>
			<select id="letter">
				<option v-for="letter in letterList">
					{{ letter }}
				</option>
			</select>
			<select id="scaleType">
				<option v-for="scaleType in scaleList">
					{{ scaleType }}
				</option>
			</select>
			<select id="keySignature">
				<option v-for="keySignature in keySignatureList">
					{{ keySignature }}
				</option>
			</select>
			<div id="scaleDisplay">
			</div>

		</div>
		<script type="text/javascript" src="scales.js"></script>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
				integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
				crossorigin="anonymous">
		</script>
		<script type="text/javascript">
		
			var scaleType = new ScaleType();
			var vue  = new Vue({
				el: '#app',
				data: {
					message: 'First Vue app',
					htmlContent: '<p>Scale:</p><select><option value="">Select</option></select>',
					letterList: scaleType.letters.sharps,
					scaleList: Object.keys(scaleType.scale),
					keySignatureList: Object.keys(scaleType.letters)
				},
				methods: {
					titleMessage : function(){
						return "Hello " + this.message;
					}
				},
				components: {
					'dropdown' : {
						props: ['value'],
						template:  `<div>
										<p>Scale:</p>
										<select>
											<option value="">Select</option>
											<option :value="value">{{value}}</option>
										</select>
									</div>`
					},
					'my-comp' : {
						data: function(){
							return {
								count: 0
							}
						},
						template: `<button v-on:click="count++">You clicked me {{ count }} times.</button>`
					}
				}
			});
			

			$(function(){
				setScale();
				$("#letter").on('change', setScale);
				$("#scaleType").on('change', setScale);
				$("#keySignature").on('change', setScale);
			});
			
			
			function setScale(){
					var letter = $("#letter").val();
					var scaleTypeVal = $("#scaleType").val();
					var keySignatureVal = $("#keySignature").val();
					console.log("letter: " + letter);
					console.log("scaleType: " + scaleTypeVal);
					console.log("keySignature: " + keySignatureVal);
					scale = scaleType.generateScale(letter, scaleTypeVal, keySignatureVal);
					var html = "<p>"+scale.toString()+"</p>";
					console.log(html);
					$("#scaleDisplay").html(html);
				}
			


		</script>
	</body>
</html>
