
#banner {
	position: absolute;
	width: 100%;
	height: 50px;
	top: 0;
	left: 0;
	text-align: center;
	background-color: #cf8f11;
}

#banner p {
	font-family: Georgia;
	font-size: 16px;
}

#bodyContent {
	position: absolute;
    top: 50px;
    left: 0;
    background-image: url(images/jimihendrix.jpg);
    width: 100%;
    height: 100%;
}

#trebleClef {
	padding-top: 10px;
}

#bassClef {
	padding-top: 15px;
}

#trebleClef img.clef{
	position: absolute;
	width: 30;
	height: 40;
}

#bassClef img.clef{
	position: absolute;
	width: 20;
	height: 24;
	padding-top: 5px;
	padding-left: 4px;
}

#staff .line {
	background-color: #000000;
	width: 250px;
	height: 1px;
	margin-top: 5px;
}

#staff .staffNote {
	z-index: -1;
	position: absolute;
	width: 14px;
	height: 7px;
}

#staffScale {
	margin-top: 5px;
    margin-left: 32px;
}

#staffScale .guitarNote {
	margin-left: 7px;
}

.instrumentWrapper {
	margin-top: 50px;
	margin-left: 15%;
    width: 650px;
	height: 220px;
	position: relative;
}

.instrumentWrapper .instrumentBackground {
	background-color: gray;
    position: absolute;
    height: 100%;
    width: 100%;
	opacity: 0.8;
    border-radius: 25px;
}

.instrumentWrapper .instrumentHeader {
	position: relative;
	margin-left: 25%;
	margin-right: 15%;
	padding-top: 15px;
}

.instrumentWrapper .instrumentHeader .instrumentScale {
	float: left;
}

.instrumentWrapper .instrumentHeader i {
	float: right;
	padding-top: 2px;
}

.settingsModal {
	position: absolute;
    width: 650px;
    height: 220px;
    background-color: gray;
    left: -163px;
    top: 0px;
    border-radius: 25px;
    opacity: 1;
	z-index: 100;
}

.settingsModal .modalBody {
	padding-left: 25px;
    padding-top: 25px;
}

.settingsModal .modalClose {
	position: absolute;
    top: 15px;
    right: 95px;
}

#instrument1 {
	
}

.fretBoard {
	width: 550px;
	position: relative;
	padding-left: 40px;
}

.fretBoardBackground {
	background-image: url("images/guitar fretboard.jpg");
	position: absolute;
	height: 120px;
	width: 500px;
	top: 10px;
	left: 85px;
	border-bottom: 1px solid black;
    border-top: 1px solid black;
}

.guitarString {
	height: 22px;
	width: 500px;
	position: relative;
	top: 5px;
}

.guitarStringLine {
	width: 100%;
	position: relative;
    top: 10px;
	left: 44px;
}

.guitarStringLine:hover, .guitarStringLine.hovered {
	border: .5px solid gold;
}

.guitarFret {
	width: 2px;
	height: 121px;
	position: absolute;
	top: 5.5px;
	background-image: linear-gradient(to right, #999494 , #dbdbdb);
}

.fretCircle {
	width: 10px;
    height: 10px;
	position: absolute;
	top: 60px;
	background-color: silver;
    border-radius: 25px;
}

.guitarNote {
	width: 23px;
	height: 1px;
	margin-left: 15px;
	float: left;
	position: relative;
}

.guitarNote .note {
	width: 20px;
    height: 18px;
	padding-top: 2px;
    font-size: 90%;
    text-align: center;
	background-color: #bbbbbb;
    border-radius: 30px;
	position: absolute;
}

.guitarNote .note:hover, .guitarNote .note.hovered {
	width: 25px;
    height: 21px;
	padding-top: 4px;
	left: -2.5;
	top: -2.5;
	font-size: 100%;
	border: .5px solid gold;
	z-index: 50;
}

.inScale .note {
	color: white;
	background-color: blue;
}

.fifth .note {
	background-color: #aa00aa !important;
}

.root .note {
	background-color: red !important;
}

.note {
}

select {
	-webkit-appearance: button; */
    -moz-appearance: button;
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-padding-end: 20px;
    -moz-padding-end: 20px;
    -webkit-padding-start: 2px;
    -moz-padding-start: 2px;
    /* background-color: #F07575; */
    /* background-image: url(../images/select-arrow.png), -webkit-linear-gradient(top, #E5E5E5, #F4F4F4);
    background-image: url(../images/select-arrow.png), -moz-linear-gradient(top, #E5E5E5, #F4F4F4);
    background-image: url(../images/select-arrow.png), -ms-linear-gradient(top, #E5E5E5, #F4F4F4);
    background-image: url(../images/select-arrow.png), -o-linear-gradient(top, #E5E5E5, #F4F4F4);
    background-image: url(../images/select-arrow.png), linear-gradient(to bottom, #E5E5E5, #F4F4F4); */
    background-position: center right;
    background-repeat: no-repeat;
    border: 1px solid #AAA;
    border-radius: 5px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    color: #555;
    font-size: inherit;
    margin: 0;
    overflow: hidden;
    padding-top: 2px;
    padding-bottom: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
	text-transform: capitalize;
}

select option {
	text-transform: capitalize;
}









